PORT=3001
NODE_ENV=production
CLIENT_ORIGIN=https://67-map.vercel.app
DATABASE_URL=postgresql://postgres:[p2C1zDCLOs0WcWwn]@db.mwduapdttcdmkubujcis.supabase.co:5432/postgres
JWT_SECRET=ojegpijensnbbbd34r3f34r346y67hggdvfd4344f
SUPABASE_URL=https://mwduapdttcdmkubujcis.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_UX8cOf5z11OomUoHTTPMDA_N5EYeoR9
SUPABASE_STORAGE_BUCKET=photos